@model Data.Computers.SelectVMs.UserVM

@{
    ViewData["Title"] = "Details";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "UserDetailsHeader" })</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserUserNameName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usersname)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserFirstNameName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserLastNameName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserLocationName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserEmail" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserPhoneNumber1Name" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserPhoneNumber2Name" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserInternalNumberName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalNumber)
        </dd>
        <dt class = "col-sm-2">
            @await Component.InvokeAsync("PageContentViewComponent", new { type = "UserPositionName" })
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>