@model IEnumerable<Data.Computers.SelectVMs.PhonesVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                                    <div class="col-md mt-2">
                                        <div class="card">
                                            <div class="card-body">   
                                                        <div class="container d-flex justify-content-end">
                                                                    <a class="btn btn-primary" asp-area="" asp-controller="Phone" asp-action="PrintToPDF" asp-route-id="@item.Id">
                                                                <i class="bi bi-printer"></i>
                                                             </a>
                                                    </div>
                                                <h5 class="card-title mb-2">@item.Name</h5>
                                                <p class="card-text">
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneManufacturerName" })</strong> <br />
                            @item.Manufacturer<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneLocationName" })</strong> <br />
                            @item.Location<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneStatusName" })</strong> <br />
                            @item.Status<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneTypeName" })</strong> <br />
                            @item.PhoneType<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneModelName" })</strong> <br />
                            @item.Model<br />      
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneSimCardName" })</strong> <br />
                            @item.SimCard1<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneSimCardName" })</strong> <br />
                            @item.SimCard2<br />                                                                                                        
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneSerialNumberName" })</strong> <br />
                            @item.SerialNumber<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneInventoryNumberName" })</strong> <br />
                            @item.InventoryNumber<br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
        }
    }
    else
    {
                    <div class="col-md mt-2-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Brak obiektów do wyświetlenia</h5>
                            </div>
                        </div>
                    </div>
    }
</div>
