@model IEnumerable<Data.Computers.SelectVMs.NetworkDeviceVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                                    <div class="col-md mt-2">
                                        <div class="card">
                                            <div class="card-body">   
                                                <h5 class="card-title mb-2">@item.Name</h5>
                                                <p class="card-text">
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceManufacturerName" })</strong> <br />
                            @item.Manufacturer<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceLocationName" })</strong> <br />
                            @item.Location<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceStatusName" })</strong> <br />
                            @item.Status<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceTypeName" })</strong> <br />
                            @item.DeviceType<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceModelName" })</strong> <br />
                            @item.Model<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceRackName" })</strong> <br />
                            @item.Rack<br />                                                    
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceSerialNumberName" })</strong> <br />
                            @item.SerialNumber<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceInventoryNumberName" })</strong> <br />
                            @item.InventoryNumber<br />
                                                </p>

                                            </div>
                                        </div>
                                    </div>
        }
    }
    else
    {
                    <div class="col-md mt-2-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Brak obiektów do wyświetlenia</h5>
                            </div>
                        </div>
                    </div>
    }
</div>
