@model IEnumerable<Data.Computers.SelectVMs.ServerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                                    <div class="col-md mt-2">
                                        <div class="card">
                                            <div class="card-body">   
                                                <h5 class="card-title mb-2">@item.Name</h5>
                                                <p class="card-text">
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerManufacturerName" })</strong> <br />
                            @item.Manufacturer<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerLocationName" })</strong> <br />
                            @item.Location<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerStatusName" })</strong> <br />
                            @item.Status<br />                                                    
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerModelName" })</strong> <br />
                            @item.Model<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerProcessorName" })</strong> <br />
                            @item.Processor<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerRamName" })</strong> <br />
                            @item.Ram<br />                                                                                                        
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerOSName" })</strong> <br />
                            @item.OperatingSystem<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerSerialNumberName" })</strong> <br />
                            @item.SerialNumber<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerInventoryNumberName" })</strong> <br />
                            @item.InventoryNumber<br />
                                                </p>

                                            </div>
                                        </div>
                                    </div>
        }
    }
    else
    {
                    <div class="col-md mt-2-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Brak obiektów do wyświetlenia</h5>
                            </div>
                        </div>
                    </div>
    }
</div>
