@model IEnumerable<Data.Computers.SelectVMs.PrintersVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                                    <div class="col-md mt-2">
                                        <div class="card">
                                            <div class="card-body">   
                                                        <div class="container d-flex justify-content-end">
                                                                    <a class="btn btn-primary" asp-area="" asp-controller="Printer" asp-action="PrintToPDF" asp-route-id="@item.Id">
                                                                <i class="bi bi-printer"></i>
                                                             </a>
                                                    </div>
                                                <h5 class="card-title mb-2">@item.Name</h5>
                                                <p class="card-text">
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterManufacturerName" })</strong> <br />
                            @item.Manufacturer<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterLocationName" })</strong> <br />
                            @item.Location<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterStatusName" })</strong> <br />
                            @item.Status<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterTypeName" })</strong> <br />
                            @item.PrinterType<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterModelName" })</strong> <br />
                            @item.Model<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterIPAddressName" })</strong> <br />
                            @item.IpAddress<br />                                                   
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterSerialNumberName" })</strong> <br />
                            @item.SerialNumber<br />
                                                    <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterInventoryNumberName" })</strong> <br />
                            @item.InventoryNumber<br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
        }
    }
    else
    {
                    <div class="col-md mt-2-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Brak obiektów do wyświetlenia</h5>
                            </div>
                        </div>
                    </div>
    }
</div>
