@model IEnumerable<Data.Computers.SelectVMs.TicketVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="card-text">
                                            <strong>Type:</strong> @item.Type<br />
                                            <strong>Category:</strong> @item.Category<br />
                                            <strong>Status:</strong> @item.Status<br />
                                            <strong>Location:</strong> @item.Location<br />
                                            <strong>User:</strong> @item.User<br />
                                            <strong>Owner:</strong> @item.Owner<br />
                                            <strong>Email:</strong> @item.Email<br />
                                        </p>
                                    </div>
                                </div>
                            </div>
        }
    }
    else
    {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Brak obiektów do wyświetlenia</h5>
                        </div>
                    </div>
                </div>
    }
</div>
