@model IEnumerable<Data.Computers.SelectVMs.ComputersVM>

@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerCategoryName" })</h1>


<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
                            <div class="col-md mt-2 mt-2">
                                <div class="card">
                                    <div class="card-body">   
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="card-text">
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerManufacturerName" })</strong> <br />
                                                    @item.ManufacturerName<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerLocationName" })</strong> <br />
                                                    @item.Location<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerStatusName" })</strong> <br />
                                                    @item.Status<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerTypeName" })</strong> <br />
                                                    @item.ComputerType<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerModelName" })</strong> <br />
                                                    @item.ComputerModel<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerProcessorName" })</strong> <br />
                                                    @item.Processor<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerRamName" })</strong> <br />
                                                    @item.Ram<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerDiskName" })</strong> <br />
                                                    @item.Disk<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerGraphicsCardName" })</strong> <br />
                                                    @item.GraphicsCard<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerOSName" })</strong> <br />
                                                    @item.OperatingSystem<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerSerialNumberName" })</strong> <br />
                                                    @item.SerialNumber<br />
                                            <strong>@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerInventoryNumberName" })</strong> <br />
                                                    @item.InventoryNumber<br />
                                        </p>
                                       <a class="navbar-brand" asp-area="" asp-controller="Computer" asp-action="PrintToPDF" asp-route-id="@item.Id">
                            @await Component.InvokeAsync("PageContentViewComponent", new { type = "PrintToPDFButtonHeader" })
                                      </a>
                                    </div>
                                </div>
                            </div>
        }
    }
    else
    {
                <div class="col-md mt-2-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-2">Brak obiektów do wyświetlenia</h5>
                        </div>
                    </div>
                </div>
    }
</div>
