@model Data.Helpers.MainWindowModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container mt-4">
        <div class="row">
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "ComputerCategoryName" })</h5>
                        <p class="card-text">@Model.ComputerCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "MonitorCategoryName" })</h5>
                        <p class="card-text">@Model.MonitorCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "SoftwareCategoryName" })</h5>
                        <p class="card-text">@Model.SoftwareCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "LicenseCategoryName" })</h5>
                        <p class="card-text">@Model.LicenseCount</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row mt-4">
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "NetworkDeviceCategoryName" })</h5>
                        <p class="card-text">@Model.NetworkDeviceCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "DeviceCategoryName" })</h5>
                        <p class="card-text">@Model.DeviceCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "PrinterCategoryName" })</h5>
                        <p class="card-text">@Model.PrinterCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "PhoneCategoryName" })</h5>
                        <p class="card-text">@Model.PhoneCount</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row mt-4">
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "RackCabinetCategoryName" })</h5>
                        <p class="card-text">@Model.RackCabinetCount</p>
                    </div>
                </div>
            </div>           
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "ServerCategoryName" })</h5>
                        <p class="card-text">@Model.ServerCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "SimCardCategoryName" })</h5>
                        <p class="card-text">@Model.SimCardCount</p>
                    </div>
                </div>
            </div>
            <div class="col-md mt-2-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@await Component.InvokeAsync("PageContentViewComponent", new { type = "TicketCategoryName" })</h5>
                        <p class="card-text">@Model.TicketsCount</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>